body {
  background: rgb(43, 255, 0);
  background-image: url('../img/hmelnickiy8.jpg');
}

h1 {
  color: #000;
  tab-size: 4;
  line-clamp: 5 '… (continued on next page)';
}

span {
  font-size: 28px;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}
div {
  font-size: 39px;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
